.container-select {
    display: flex;
    max-width: 1050px;
    margin: 20px auto 40px;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(180, 180, 180, 0.3);
    text-align: center;
}

.select-fav {
    font-size: 15px;
    color: rgb(136, 241, 50);
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

@media (max-width:600px) {
    .select-fav {
        font-size: 15px;
        color: rgb(136, 241, 50);
        background-color: #000;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
}

@media (max-width:300px) {
    .select-fav {
        font-size: 12px;
        color: rgb(136, 241, 50);
        background-color: #000;
        border-radius: 10px;
        padding: 8px;
        margin: 10px;
    }
}